.aside{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1rem;
}

.aside__link{
  cursor: pointer;
}

.aside__title{
  font-size: 3rem;
} 

.active{
  color: var(--interactive);
}

.aside__link {
  font-size: 2rem;
}

.aside__link:hover{
  color: var(--interactive);
}
