:root {
  --main-text: #f4f4f9;              /* texto principal: blanco suave */
  --secondary-text: #7f8c8d;         /* texto secundario: gris azulado */
  --main-background: #1e1f29;        /* fondo principal: gris oscuro azulado */
  --secondary-background: #2e2f3a;   /* fondo secundario: un poco más claro */
  --interactive: #82aaff;           /* botones, enlaces: azul moderno vibrante */
  --accent: #fca17d;                /* acento o elementos destacados: coral suave */
}

/* Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  font-family: sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html{
  font-size: 10px;
}

body {
  min-height: 100vh;
  min-width: 100vw;
  position: relative;
  text-rendering: optimizeLegibility;
  background-color: var(--main-background);
  color: var(--main-text);
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button,
input,
textarea,
select {
  font: inherit;
  background: none;
  border: none;
  outline: none;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}


