:root {
  --main-text: #eae8ff;
  --secondary-background: #d8d5db;
  --main-background: #1a1b26;
  --secondary-text: #2d3142;
  --interactive: #b0dyff;
}

/* Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  font-family: sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html{
  font-size: 10px;
}

body {
  min-height: 100vh;
  min-width: 100vw;
  position: relative;
  text-rendering: optimizeLegibility;
  background-color: var(--main-text);
  color: var(--main-background);
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button,
input,
textarea,
select {
  font: inherit;
  background: none;
  border: none;
  outline: none;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}


